/* universal */
@media (min-width: 1200px) {
    .container{
        max-width: 900px;
    }
}

html, body {
  background: #fafafa;
  color: #4b4f54;
  font-family: 'proxima-nova', 'Helvetica Neue', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

body.container {
  padding: 0;
}

a {
  color: #125688;
  font-weight: 600;
}

a:hover{
  text-decoration: none;
  color: #4b4f54;
}

.content{
  margin-top: 120px;
  padding: 0;
}

.form{
  min-height: 500px;
  margin-bottom: 50px;
}
.form label{
  font-weight: normal;
}

h1{
  display: inline-block;
  margin: 0;
  color: #4b4f54;
  font-size: 36px;
}

header{
  margin: 0 0 30px 0;
  padding: 0 0 10px 0;
  border-bottom: 2px solid #4b4f54;
}

header a i{
  font-size: 20px;
  padding-right: 10px;
}

header a{
  padding: 10px 10px 10px 0;
}

form h2{
  margin-bottom: 40px;
}

input[type="text"], input[type="password"], input[type="url"], textarea {
  outline: none;
  box-shadow:none !important;
  border: none;
}

input.form-control, textarea{
  background: #fafafa;
  margin-bottom: 20px;
  border-radius: 0px;
  border-bottom: 1px solid #ccc;
}

button[type='submit']{
  background: #e9e9e9;
  margin: 20px 0 30px;
  border: none;
  border-radius: 0px;
  color: #4b4f54;
  font-weight: 600;
}

button[type='submit']:hover{
  background: #ccc;
  border-radius: 0px;
  color: #4b4f54;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 500px #fafafa inset !important;
}

.alert{
 font-size: 10px;
 background: #125688;
 color: white;
 text-align: center;
 display: block;
 text-transform: uppercase;
 margin: 0 auto;
}

p.alert{
 margin: 0;
}


/* navbar */

nav {
  width: 100%;
  height: 70px;
  background: white;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #edeeee;
}
.nav > li > a{
  font-size:14px;
  padding: 24px 7px;
}
.nav > li > a:hover, .nav > li > a:focus, .nav > li > a:visited{
  background: white;
}
.navbar-brand {
    background: url('../images/netstix.png') no-repeat center center;
    display:block;
    height:29px;
    text-indent:-9999px;
    width:104px;
    margin-top: 21px;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus{
  background-color: white;
  color: #125688;
}
.dropdown-menu > li > a, .dropdown-menu > li > button{
    background: white;
    color: #125688;
    font-weight: 600;
}
.dropdown-menu > li > a:hover, .dropdown-menu > li > button:hover{
    text-decoration: none;
    background: white;
    color: #4b4f54;
}
.navbar-right .dropdown-menu{
  text-align: center;
  left: -50px
}




.content{
  margin-top: 120px;
}

.content > div{
  padding: 30px 50px;
}

.description{
  margin-bottom: 120px;
  font-size: 20px;
}

li.list-group-item{
  background: transparent;
  border:0;
  padding:25px;
  border-bottom: 1px solid #e0e0e0;
}

li.list-group-item > a{
  padding:;
}

li.list-group-item > i{
  font-size: 20px;
  padding-right: 25px;
}
