<div class="container achievement row" ng-controller="AchievementController as ctrl">
  <div class="container achievement row" ng-controller="AchievementController as ctrl">
  <header>
    <h1>{{ctrl.achievement.title}}</h1>
    <a href="/#/achievements/{{ctrl.achievement._id}}/submissions/new" class="pull-right" ng-show="ctrl.isLoggedIn()"><i class="glyphicon glyphicon-download-alt"></i> Submit</a>
  </header>
  <section class="description">
    <p>{{ctrl.achievement.criteria}}</p>
  </section>
  <header>
    <h1>leaderboard</h1>
  </header>
  <ul class="items-result list-group">
    <li class="list-group-item">
      <i class="glyphicon glyphicon-user"></i><a href="">username 1</a>
    </li>
    <li class="list-group-item">
      <i class="glyphicon glyphicon-user"></i><a href="">username 2</a>
    </li>
  </ul>
</div>
