<div class="container row" ng-controller="UserController as ctrl">
  <header>
    <h1>{{ctrl.user.username}}</h1>
    <!-- <a href=""class="pull-right">Go somewhere</a> -->
  </header>
  <!-- <section class="description">
    <p>nothing to say about the user </p>
  </section> -->
  <header>
    <h1>Trophy Cabinet</h1>
  </header>
  <ul class="items-result list-group">
    <li class="list-group-item">
      <i class="glyphicon glyphicon-education"></i><a href="">achievement 1</a>
    </li>
    <li class="list-group-item">
      <i class="glyphicon glyphicon-education"></i><a href="">achievement 2</a>
    </li>
  </ul>
</div>
